*{
    box-sizing: border-box;
}


.dark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
  .flop {
    list-style-type: none;
    margin-right: 70px;
    padding: 0;
    overflow: hidden;
    height: 40px;
    display: flexbox;
    margin-top: 20px;
    color: white;
  
  
  }
  
  .mizel {
    float: left;
    padding-left: 50px;
  }
  
  .logo {
    color: white;
    padding-left: 30px;
    font-size: 27px;
    font-family: cursive, sans-serif;
  }
  
  
  .mizel .mize {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 14px;
    font-family:poppins;
  }
  
  .mizel .mize:hover {
    color: burlywood;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
  }
  
  
  
  
  
  
  
  
  
  .btn {
    background-color: brown;
    color: white;
    height: 45px;
    width: 140px;
    text-align: center;
    padding: auto;
    border: none;
    font-weight: bold;
    margin-right: 40px;
    font-family: poppins;
    opacity:0.7;
    border: 2px solid white;
  }
  
  .btn:hover{
    transition: .7s ease;
    opacity: 1.0;
  }

  .wrapper{
    padding: 10px 10px;
  }

  #card-area{
     padding: 50px 0px;
     
  }

  .box-area{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    margin-top: 30px; 
  }

  .box{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    width: 300px;


}

.box img{
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    height: 400px;

}

.overlay{
    height: 0;
    width: 300px;
    background: linear-gradient(transparent, rgb(181, 181, 181) 58%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
}


.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    color: ;
    
}


.overlay p{
    color: white;
}

.overlay .mize2{
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.boxLhover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.box:hover .overlay{
    height: 100%;
}

.box-area>div:nth-child(3){
  margin-left: 40px;
  }

.box-area>div:nth-child(2){
    margin-left: 20px;
    }

 .box-area>div:nth-child(1){
      margin-left: 20px;
      }
      
    
    .box-area2>div:nth-child(3){
      margin-left: 40px;
      }
    
    .box-area2>div:nth-child(2){
        margin-left: 20px;
        }
    
     .box-area2>div:nth-child(1){
          margin-left: 20px;
          }   

   
        
        .box-area3>div:nth-child(3){
          margin-left: 40px;
          }
        
        .box-area3>div:nth-child(2){
            margin-left: 20px;
            }
        
         .box-area3>div:nth-child(1){
              margin-left: 20px;
              }   
        
        




.wrapper2{
  padding: 10px 10px;
}

#card-area2{
   padding: 50px 0px;
}

.box-area2{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;

  
}

.box2{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  width: 300px;


}

.box2 img{
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  height: 400px;

}

.overlay2{
  height: 0;
  width: 300px;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
}


.overlay2 h3{
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: ;
}


.overlay2 p{
  color: white;
}

.overlay2 .mize2{
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  background-color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
}

.boxLhover img{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.box2:hover .overlay{
  height: 100%;
}



.wrapper3{
  padding: 10px 10px;
}

#card-area3{
   padding: 50px 0px;
}

.box-area3{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
}

.box3{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  width: 300px;


}

.box3 img{
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  height: 400px;

}

.overlay3{
  height: 0;
  width: 300px;
  background: linear-gradient(transparent, blue 58%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
}


.overlay3 h3{
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: ;
}


.overlay3 p{
  color: white;
}

.overlay3 .mize2{
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  background-color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
}

.boxL3hover img{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.box3:hover .overlay{
  height: 100%;
}


  
.flops {
  list-style-type: none;
  margin-right: 70px;
  padding: 0;
  overflow: hidden;
  height: 40px;
  display: flexbox;
  margin-top: 20px;
  color: white;
}

.mizels {
  float: left;
  padding-left: 60px;
}

.mizels .mizez {
  display: block;
  color: white;
  text-align: center;
  padding: 11px 8px;
  text-decoration: none;
  font-size: 16px;
  font-family:poppins;

  
}

.mizels .mizez:hover {
  color: burlywood;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}

.mizez{
  color: white;
  text-decoration: none;

}


.mark{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    width: 550px;
    margin-left: 360px;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 84px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

footer {
    border: 2px solid black;
    background-color: #333;
    height: 440px;
  }
  
  
  .nosh{
         height: 26px;
         display: inline-block;
         background-color: brown;
         border-radius:50% ;
         margin: 10px;
         
  }
  .nosh:active {
    box-shadow: 5px 7px rgb(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }
        .tues{
          color: white;
       
          display: inline-block;
          width: 280px;
          margin-left:30px ;
       
        }
  
        .flop2{
          text-decoration: none;
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
  
        .tues2{
          display: inline-block;
    
          width: 250px;
         position: absolute;
         margin-left: 13px;
        }
  
        .tept{
          padding: 10px;
          text-align: justify;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color:white;
        }
  
        .colon{  text-align: justify;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          padding-left: 5px;
  
        }
  
    
  
     
  
        .act:hover{
          color: brown;
          transition: .5 ease;
          -webkit-transition: .5 ease;
          -moz-transition: .5 ease;
          -ms-transition: .5 ease;
          -o-transition: .5 ease;
  }
  
  .act{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  
  .colonb{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-left: 35px;
  }
  
  .colonb3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-left: 35px;
  }
  
  .colonb4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-left: 35px;
    position: absolute;
  }
  
  
  .pix2{
    display: inline-block;
    height: 23px;
    background-color: brown;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .mac{display: inline-block;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          color: white;}
  
          .mac2{display: inline-block;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              color: white;}
  
              .mac2:hover{
                color: brown;
              }
  
              .mac3{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  color: rgb(201, 201, 201);
                  padding-left: 35px;
           
  
              }
              .mac4{
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  color: rgb(201, 201, 201);
                  padding-left: 35px;
     
              }
  
            
            #mac5{
              font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: rgb(201, 201, 201);
           
   
            }
  
  
              
  
       .tues3{
      
        display: inline-block;
        position: absolute;
        margin-left: 245px;
       }   
  
       .tues4{
     
        display: inline-block;
        position: absolute;
        margin-left: 540px
       }
  
  
       
       input[type=pext] {
        float: ;
        padding: 6px;
        border: none;
        margin-top: 60px;
        margin-left: ;
        font-size: 17px;
        background-color:white;
        width: 340px;
        height: 55px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        outline: none;
  }
  
  input {
    border: 4px solid black;
  }
  
  .mond{
  display: inline-block;
  
  margin-top: 55px;
  }
  
  .feto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(201, 201, 201);
    font-size: 19px;
    
    margin-left: 340px;
    margin-top: 50px;
  }
  
  .mac6{
    color: brown;
  }
  
  .mac6:hover{
    color: green;
  }

  
.sidebar {
  height: 60px;
  width: 60px;
  position:fixed ;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  margin-left:1175px;
  margin-top:540px;
  background-color: brown;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  opacity: 1;
}

.sidebar .maf{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: burlywood;
  display: block;
  background-color: brown;
  margin-left: 1px;
  

}

.sidebar :hover {
  color: burlywood;
}


.mize2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}  

  
 
  

